! special
*.foreground:   #e3e3e3
*.background:   #171d24
*.cursorColor:  #e3e3e3

! black
*.color0:       #171d24
*.color8:       #373b41

! red
*.color1:       #af3131
*.color9:       #d05c5c

! green
*.color2:       #65cc3e
*.color10:      #a6e174

! yellow
*.color3:       #ee7d2f
*.color11:      #e4954c

! blue
*.color4:       #4a8cc3
*.color12:      #65a7df

! magenta
*.color5:       #9442af
*.color13:      #c17dd5

! cyan
*.color6:       #45c3b3
*.color14:      #7cdacd

! white
*.color7:       #777777
*.color15:      #e3e3e3
