! vim: set ft=xdefaults:

! Environment-specific variables.

! Font and font size.
#define FONTNAME xos4 Terminess Powerline
#define FONTSIZE 14

! Polybar network interfaces.
polybar.wlanInterface: wlp1s0
polybar.ethInterface: enp2s0
